{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "endOfLine": "lf",
    "proseWrap": "always",
    "overrides": [
        {
            "files": [
                "package.json"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
